<section>
    <h5>Hello, {{ model.tab.clientName }}</h5>

    <form ng-submit="model.postDocument()" class="form-inline">

        <input class="form-control" type="file" id="file"/>
        <button type="submit" class="btn btn-danger">Upload</button>
    </form>


    <form ng-submit="model.closeTab(model.finalText)">
        <textarea class="form-control" ng-model="model.finalText" type="text"/>
        <button type="submit" class="btn btn-danger">Close Tab</button>
    </form>

    <h5>Real-time event log</h5>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="event in model.events">{{ event | json }}</li>
    </ul>
</section>